ion-header {
  --background: #fff; /* Cambia el color de fondo según sea necesario */
}

ion-toolbar {
  --background: #4e45d1; /* Cambia el color de fondo del toolbar */
}

ion-title {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el título horizontalmente */
}

ion-icon {
  font-size: 30px;
}

.divo {
  --background: #19422d;
  --color: #fff;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 20px;
  --padding-end: 20px;
}

.red-icon {
  color: red;
}

.xd {
  color: rgb(230, 230, 230);
}

.centered {
  text-align: center;
  width: 100%;
}

.fixed-icon-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
  font-size: 50px;
  --background: #6f4e37; /* Color café */
  --color: white;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 16px;
}